body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
}

.note-card {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 20px;
}

textarea {
  width: 100%;
}

.note-header {
  width: 100%;
}
.note-content {
  width: 100%;
}

body {
  background-color: #e8e8e8;
}

#map {
  margin-top: 20px;
  width: 85%;
  height: 85%;
  padding: 10px;
  border: 1px solid black;
}

.map-container {
  background-color: 1px solid gray;
}

.create-button {
  margin: 5px;
}

.create-button button {
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

.grid {
  margin: 5px;
}
